[Unit]
Description=Delivery Messenger Worker %i
After=network.target

[Service]
Type=simple
User={{ deploy_user }}
Group={{ deploy_group }}
WorkingDirectory={{ app_root }}/current
ExecStart={{ app_root }}/current/bin/console messenger:consume async --time-limit=3600 --memory-limit=192M
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
